<h3 class="text-center">Altere os valores do marca</h3>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div [hidden]="updated" style="width: 400px">
      <form [formGroup]="marcaForm" (submit)="update()">
        <div class="form-group">
          <label for="sigla">Nome</label>
          <input
            type="text"
            class="form-control"
            formControlName="sigla"
            data-toggle="tooltip"
            data-placement="right"
            title="Digite o sigla do marca"
            name="sigla"
            [(ngModel)]="marca!.sigla"
          />
          <div
            class="alert alert-danger"
            *ngIf="
              marcaForm.get('sigla')?.touched && marcaForm.get('sigla')?.invalid
            "
            style="margin-top: 5px"
          >
            <span *ngIf="marcaForm.get('sigla')?.errors?.['required']"
              >Nome do marca é obrigatório</span
            >
            <span *ngIf="marcaForm.get('sigla')?.errors?.['minlength']">
              Nome do marca deve ter pelo menos 4 caracteres
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="descricao">Descricao</label>
          <input
            type="text"
            class="form-control"
            formControlName="descricao"
            data-toggle="tooltip"
            data-placement="right"
            title="Digite a carga horária do marca"
            name="descricao"
            [(ngModel)]="marca!.descricao"
          />
          <div
            class="alert alert-danger"
            *ngIf="
              marcaForm.get('descricao')?.touched &&
              marcaForm.get('descricao')?.invalid
            "
            style="margin-top: 5px"
          >
            <span *ngIf="marcaForm.get('sigla')?.errors?.['required']"
              >descricaoé obrigatória</span
            >
          </div>
        </div>

        <br />
        <button type="submit" class="btn btn-success">Salvar</button>
      </form>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div [hidden]="!updated">
      <h5 class="text-success">Marca alterado com sucesso</h5>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>
