<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="nav-item nav-link active" href="#">
      <span class="sr-only">Home|</span>
      <i class="fa fa-home fa-1x"></i>
    </a>
    <a class="nav-item nav-link" href="nova-marca">Nova marca|</a>
    <a class="nav-item nav-link" href="listar-marcas">Listar cursos|</a>
    <a class="nav-item nav-link" href="listar-veiculos">Listar veiculos|</a>
    <a class="nav-item nav-link" href="novo-veiculo">Novo veiculo</a>
  </nav>
</header>
